@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: rgb(250, 241, 234);
}


header {
    background-color: rgb(192, 240, 223);
    text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav li {
    background-color: rgb(128, 128, 128);
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
}

.nav ul li a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
}

div#wrapper {
    background-color: white;
}

@media all and (min-width: 550px) {
    .nav ul {
        background-color: rgb(128, 128, 128);
        border-top: 1px solid white;
    }
    .nav li {
        display: inline-block;
        border: none;
    }

    section#nieuws {
        width: 40%;
        float: left;
    }

    section#instrumenten {
        width: 60%;
        float: right;
    }

}

@media all and (min-width: 800px) {
    section#nieuws {
        width: 30%;
        float: left;
    }

    section#instrumenten {
        width: 70%;
        float: right;
    }

    article {
        display: inline-block;
        width: 35%;
        margin-right: 20%;
    }

    article:nth-child(even) {
        margin-right: 0px;
    }

}

@media all and (min-width: 1200px) {
    div#wrapper {
        width: 1200px;
        margin: auto;
    }
}


img#logo {
    width: 320px;
}

img {
    width: 100%;
}

.kopje {
    color: rgb(220, 106, 94);
}

section, footer {
    padding: 20px;
}

footer {
    background-color: rgb(128, 128, 128);    
    clear: both;
}

footer h3 {
    color: white;
}